In [24]:
import pandas as pd
import pandas_ta as ta
import numpy as np



candlestick_frame = 12
pnl_threshold = 3

ohlc_df = pd.read_csv('../../data/ETHUSDT-ohlcv.csv')
ohlc_df['LOGRET_1'] = list(ohlc_df.ta.log_return())
ohlc_df = ohlc_df.dropna()
LOGRET_1 = list(ohlc_df['LOGRET_1'])

dta_lst = []
tot = len(ohlc_df)


def get_sig(df):
    ts = list(df['time'])
    open = list(df['open'])
    high = list(df['high'])
    low = list(df['low'])
    close = list(df['close'])
    volume = list(df['volume'])
    tot = len(ts)
    long_runup_lst = []
    long_drawdown_lst = []
    short_runup_lst = []
    short_drawdown_lst = []

    for idx in range(tot):
        if (idx >= candlestick_frame) and (idx <= tot - candlestick_frame):
            max_high = max(high[idx+1:idx+candlestick_frame])
            min_low = min(low[idx+1:idx+candlestick_frame])
            entry_price = open[idx+1]
            long_runup_lst.append(round((max_high*100/entry_price)-100, 6))
            long_drawdown_lst.append(round((min_low*100/entry_price)-100, 6))
            short_runup_lst.append(round((entry_price*100/min_low)-100, 6))
            short_drawdown_lst.append(round((entry_price*100/max_high)-100, 6))
        else:
            long_runup_lst.append(0)
            long_drawdown_lst.append(0)
            short_runup_lst.append(0)
            short_drawdown_lst.append(0)     


    long=[]
    short=[]
    dont_trade=[]
    signal = []

    for idx in range(tot):
        if (idx >= candlestick_frame) and (idx <= tot - candlestick_frame):
            if long_runup_lst[idx] >= pnl_threshold:
                signal.append('long')
            elif short_runup_lst[idx] >= pnl_threshold:
                signal.append('short')
            else:
                signal.append('dont_trade')
        else:
            signal.append('dont_trade')


    # df['signal'] = signal
    return signal[candlestick_frame:]


sig = get_sig(ohlc_df)
for idx in range(candlestick_frame, tot, 1):
    app = {}
    for i in range(candlestick_frame):
        app[i] = LOGRET_1[idx-i]
    dta_lst.append(app)

df = pd.DataFrame(dta_lst)

df.to_csv(f'../../data/df.csv', index=False)
y = pd.DataFrame(sig).to_csv('../../data/y.csv', index=False)

In [29]:
%matplotlib inline
import matplotlib.pylab as plt

from tsfresh import extract_features, extract_relevant_features, select_features
from tsfresh.utilities.dataframe_functions import impute

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

import pandas as pd
import numpy as np


df = pd.read_csv('../../data/df.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.000108,-0.002288,0.002011,0.001594,0.003397,-0.002540,0.000313,-0.001781,0.000128,-0.001501,0.005098,0.000391
1,-0.002185,-0.000108,-0.002288,0.002011,0.001594,0.003397,-0.002540,0.000313,-0.001781,0.000128,-0.001501,0.005098
2,-0.002808,-0.002185,-0.000108,-0.002288,0.002011,0.001594,0.003397,-0.002540,0.000313,-0.001781,0.000128,-0.001501
3,-0.002857,-0.002808,-0.002185,-0.000108,-0.002288,0.002011,0.001594,0.003397,-0.002540,0.000313,-0.001781,0.000128
4,0.001533,-0.002857,-0.002808,-0.002185,-0.000108,-0.002288,0.002011,0.001594,0.003397,-0.002540,0.000313,-0.001781

In [30]:
y = pd.read_csv('../../data/y.csv')
y.head()

            0
0  dont_trade
1  dont_trade
2  dont_trade
3  dont_trade
4  dont_trade

In [31]:
df["id"] = df.index
df = df.melt(id_vars="id", var_name="time").sort_values(["id", "time"]).reset_index(drop=True)
df.to_csv('../../data/df_id_time.csv', index=False)
df.head()

   id time     value
0   0    0 -0.000108
1   0    1 -0.002288
2   0   10  0.005098
3   0   11  0.000391
4   0    2  0.002011

In [37]:
# only use the first 500 ids to speed up the processing
X = extract_features(df, column_id="id", column_sort="time", impute_function=impute)

Feature Extraction:  20%|██        | 10/50 [00:16<00:16,  2.45it/s]

In [36]:
len(X)

500