In [12]:
import pandas as pd
from pycaret.classification import *

data = pd.read_csv('/home/hk_lenovo_pc/data/dataset.csv')
# shuffle the DataFrame rows
data = data.sample(frac = 1)
data.head()

,sma_pc_29,sma_pc_28,sma_pc_27,sma_pc_26,sma_pc_25,sma_pc_24,sma_pc_23,sma_pc_22,sma_pc_21,sma_pc_20,...,sma_pc_7,sma_pc_6,sma_pc_5,sma_pc_4,sma_pc_3,sma_pc_2,sma_pc_1,sma_pc_0,sma_pc_sum,signal
293496,-0.015360,-0.001750,-0.005121,0.014262,0.005833,0.023203,0.000065,-0.013413,-0.029163,-0.000583,...,0.006981,-0.001681,-0.024174,-0.004784,0.001810,0.001034,0.006530,0.017132,0.250549,long
243795,0.148201,0.183148,0.147200,0.115930,0.088981,0.042652,0.002100,0.019283,-0.018281,-0.023385,...,-0.026487,-0.026328,-0.040297,-0.073640,-0.074833,-0.049405,-0.042787,-0.003599,0.111497,long
149143,0.039177,0.056590,0.086950,0.082355,0.067928,0.056520,0.044214,0.035739,0.009637,0.011441,...,-0.042690,-0.028543,-0.026347,-0.002369,0.001054,0.014593,-0.007845,0.033997,0.305885,short
91824,0.060240,0.116464,0.190149,0.222854,0.164600,0.157208,0.116218,0.095795,0.032358,0.025548,...,-0.095847,-0.102517,-0.115031,-0.041445,0.028886,0.040333,0.068925,0.096276,0.713684,long
67105,0.013891,0.005448,0.006223,0.010931,0.001418,0.002229,-0.019500,-0.023950,-0.012401,-0.009481,...,0.001369,0.003559,0.003464,-0.001976,-0.008938,-0.018033,-0.024251,-0.014218,0.131700,short

In [15]:
# import ClassificationExperiment and init the class
from pycaret.classification import ClassificationExperiment
exp = ClassificationExperiment()
exp.setup(data, target = 'signal', session_id = 123)

In [16]:
# compare baseline models
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .                  05:10:48
Status     . . . . . . . . . . . . . . . . . .          Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

:

: